<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AMDRadeonX5000HWLibs</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.kext.AMDRadeonX5000HWLibs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AMDRadeonX5000HWLibs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12E6178j</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.7</string>
	<key>DTSDKBuild</key>
	<string>20G1218</string>
	<key>DTSDKName</key>
	<string>macosx11.7internal</string>
	<key>DTXcode</key>
	<string>1240</string>
	<key>DTXcodeBuild</key>
	<string>12E6178j</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AMDRadeonHWLibs</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX5000HWLibs</string>
			<key>IOClass</key>
			<string>AMDRadeonX5000_AMDRadeonHWLibsX5000</string>
			<key>IOMatchCategory</key>
			<string>AMDRadeonHWLibs</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadPlugIn</key>
				<string>Load5000</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AMDRadeonX5000_AMDRadeonHWServicesInterface</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>11.7</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Advanced Micro Devices, Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>2.9</string>
		<key>com.apple.kpi.bsd</key>
		<string>16.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.0</string>
		<key>com.apple.kpi.mach</key>
		<string>16.0</string>
	</dict>
</dict>
</plist>
